<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UsTec.FileDistributionService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="UsTec.FileDistributorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">

      <!-- 追加書き込み -->
      <param name="AppendToFile" value="true" />

      <!-- ファイル名の日付部分 -->
      <param name="DatePattern" value="yyyy-MM-dd'.log'" />

      <!-- 文字エンコーディング -->
      <param name="Encoding" value="utf-8" />

      <!-- ファイル名の固定部分 -->
      <param name="File" value="C:\ProgramData\UsTec\FileDistributionService\logs\" />

      <!-- ファイルの最大サイズ -->
      <param name="MaximumFileSize" value="16GB" />

      <!-- 最大ファイル数(無限なら-1) -->
      <param name="MaxSizeRollBackups" value="-1" />

      <!-- 日付とサイズでログファイルを切り替える -->
      <param name="RollingStyle" value="Composite" />

      <!-- ファイル名は固定でない -->
      <param name="StaticLogFileName" value="false" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger - %message%exception%newline" />
      </layout>
    </appender>

    <root>
      <appender-ref ref="RollingLogFileAppender" />
      <level value="ALL" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <applicationSettings>
    <UsTec.FileDistributionService.Properties.Settings>
      <setting name="ConfigurationDirectoryPath" serializeAs="String">
        <value>C:\ProgramData\UsTec\FileDistributionService\config</value>
      </setting>
    </UsTec.FileDistributionService.Properties.Settings>
    <UsTec.FileDistributorService.Properties.Settings>
      <setting name="ConfigurationDirectoryPath" serializeAs="String">
        <value>C:\ProgramData\UsTec\FileDistributorService\config</value>
      </setting>
    </UsTec.FileDistributorService.Properties.Settings>
  </applicationSettings>
</configuration>
